.navi_item05 .navi_en {
  -webkit-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  margin-top: -60px;
  z-index: 1;
}
.navi_item05 .navi_ch {
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 2;
}

.page-title_en {
  max-width: 145px;
  margin: 0 auto;
}

.contents {
  padding: 60px 0;
  max-width: 815px;
  margin: 0 auto;
  text-align: center;
}

.traffic {
  margin-top: 20px;
}

.traffic_title-wrap {
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
.traffic_title-wrap:before {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background: #a2a2a2;
  position: absolute;
  left: 0;
  top: 50%;
}
.traffic_title-wrap:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background: #a2a2a2;
  position: absolute;
  right: 0;
  top: 50%;
}

.traffic_contents {
  margin-top: 40px;
  font-size: 15px;
  line-height: 2;
  text-align: left;
}
#map{
    width:90%;
    height:300px;
    margin:10px auto;
    border:1px solid #555;
  }

.section-type03 {
  margin-top: 0px auto;
}
.section-type03 p{
  color: #575757;
  font-size: 117%;
  margin-bottom: 10px;
}
.section-type03:first-child {
  margin-top: 0;
}
.section-type03 .section_title {
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}
.section-type03 .section_contents {
  line-height: 5px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.traffic-image02 {
  margin-top: 40px;
}

.list-type02 .clm01 {
  display: inline-block;  
  width: 20%;
  color: #0000FF;
  text-decoration: none !important;
}
.list-type02 .clm02 {
  display: inline-block;
  width: 50%;
}
.list-type02 .clm03 {
  display: inline-block;

}
.list-type02 .clm04 {
  display: inline-block;
}
.list-type02 {
  text-align: center;
  font-size: 14px;
  width: 100%;
}
.list-type02 .list-type02_item {
  display:inline-block;
  width: 100%;
  padding: 10px 0;
  
}



@media (max-width: 870px) {
  .page-title_en {
    width: 31.88%;
    max-width: none;
  }
  .contents {
    padding: 30px 20px 0;
  }
  .section-type03 .section_contents{
    margin: 0px;
    padding: 0px;
    width: 100%;
    line-height: 20px;
  }

  .list-type02_item{
    width: 100%;
    height: auto;
    background: none;
    font-weight: bold;
    height: auto;
    font-size: 14px;
  }
  .list-type02_item li{
    width: 80%;
    height: auto;
    background: none;
    font-weight: bold;
    height: auto;
    font-size: 14px;
  }
  .traffic_title {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 600px) {
  .traffic {
    margin-top: 40px;
  }
  .traffic-image01 {
    width: 69.67%;
    margin: 0 auto;
  }

  .traffic-image02 {
    margin: 20px auto 0;
  }
  .traffic_contents {
    margin-top: 20px;
  }
}